body {
    background-color: rgba(114, 89, 255, 0.2);
    padding-top: 70px;


}

.botonMenu {
    height: 50px;
    width: 50;
}

li {
    display: inline-block;
    color: white;
    font-size: 20px;

}

ul {
    text-align: center;
    word-spacing: 20px;
    padding: 20px;
    background-color: rebeccapurple;
    position: fixed;
    width: 100%;
    top: 0;
    display: inline-block;
    color: white;


}

nav {
    display: flex;
    justify-content: flex-end;
    
    
}
.barra {
    box-shadow: black;
}

a {
    color: white;
}




p {
    color: rebeccapurple;
    margin-right: 600px;
    margin-left: 600px;
    text-align:justify;
    
}

.boton {
    text-align: center;
    padding: 10px;
    border-radius: 20px
    
}

a:hover {
    font-size: 30px;
}

.botonMenu:hover {
    width: 50px;
    height: 50px;
}

@media (max-width: 650px) {
    li {
        display: block;
    }
    nav {
        opacity: 80%;
    }
    ul {
        width: 70%;
        position: absolute;
        left: 0px;
    }

    p {
        margin-right: 5px;
        margin-left: 5px;
    }
    body {
        background-color: white;
    }
    li :hover {
        color: yellow
    }
    .boton :hover {
        background-color: rebeccapurple;
        color: white;
    }

}
